.caption{
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

  &__underline{
    margin: 0;
    background-color:$color-grey;
    width: 100%;
    height: 2px;
    border: none;
  }
}

@media (max-width:1200px){

} 

@media (max-width:768px){
  .caption{
    padding-left: 10px;
  }
} 

@media (max-width:540px) and (min-width:320px){

}