.header{
  display: flex;
  width: 1140px;

  align-items: flex-end;
  margin-bottom: 30px;

  &__menu {
    order: 1;
    margin-right: 44px;
  }

  &__button{
    order: 3;
    width: 165px;
    height: 46px;
    margin-right: 76px;
  
    background-color: transparent;
    border: $color-blue 2px solid;
    border-radius: 5px;
  
    color: $color-lightblue;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    &:hover, &--change{
      background-color: $color-blue;
      color: #fff;
      font-weight: bold;
    }
  }

  &__logo {
    margin-right: auto;

    order: 2;
  }

  &__contacts {
    order: 4;
  }
}

@media (max-width:1200px){
  .header{
    width: 720px;

    &__button{
      margin-right: 0;
      order: 2;
      height: 50px;
      width: 170px;
      border: none;
      background-color: $color-grey;
      color: $color-blue;
      font-weight: bold;
      border-radius: 0 5px 5px 0;
    }

    &__menu{
      margin-right: 0;  
    }

    &__logo{
      margin: 0 auto;
      order: 3;
    }
  }
} 

@media (max-width:768px){
  .header{
    width: 540px;
    padding: 0 10px;
    flex-wrap: wrap;

    &__logo {
      margin: 0;
      margin-right: 30px;
      order: 1;
      margin-bottom: 10px;
    }

    &__menu {
      order: 3;
    }

    &__button {
      border-radius: 5px;
      order: 4;
      margin-right: 0;
      margin-left: auto;
    }

    &__contacts {
      order: 2;
      margin-left: auto;
      margin-bottom: 10px;
    }
  }
} 

@media (max-width:540px) and (min-width:320px){
  .header{
    width: 320px;

    &__logo{
      margin: 0 auto;
    }

    &__contacts{
      width: 100%;
    }
  }
}




 



