.lg{
  $root: &;
  &-backdrop{
    background-color: rgba(255,255,255,0.5)
  }

  &-actions{
    #{$root} {
      &-next, &-prev{
        background-color: $color-blue;
        border-radius: 5px;
        color: #fff;
  
        &:hover{
          color: #000;
        }
      }
    }   
  }

  &-toolbar{
    background-color:$color-blue;

    #{$root} {
      &-icon{
        color: #fff;

        &:hover{
          color: #000;
        }
      }
    }
  }
}

#lg-counter {
  color: #fff;
}



