$color-blue: #5389c5;
$color-blue2: #538ac8;
$color-lightblue: #5ca0ed;
$color-lightblue2:#60abff;
$color-grey: #e8edf0;
$color-banner: #e9eff4;
$color-body: #f6f9fc;
$color-wrapper: #fff;
$font-family:"Avenir Next Cyr", sans-serif !important;